.container-old {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

.sherpa-btn {
  background-color: #e81a48;
  border: 1px solid #e81a48;
  color: #fff;
  margin: 0 0 0 20px;
}

.sherpa-btn:hover {
  background-color: #0b244c;
  border: 1px solid #0b244c;
  color: #fff;
}

    
