<html>
    <head>
        <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>          
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>VideoSherpa Indexing Services</title>
    </head>
    <body>
        <div class='container-fluid'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>